.noris-container {
    width: 50%;
    margin: 10px auto;
  }
  h3 {
    width: 100px;
    margin: 30px auto;
    text-align: center;
  }
  .nori {
    border-top: solid #00acee;
    margin-top: 10px;
    padding-top: 20px;
  }
  .main-box {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
  }
  .time {
    display: flex;
    justify-content: flex-end;
  }

  .img-frame{
 position: relative;
 width: 800%;
 height: 800px;
 overflow: hidden;
 margin: 0 auto;
}
@media screen and (max-width: 1500px){
.img-frame{
 width: 100%;
 height: 800px;
}
.img-01, .img-02, .img-03{
 position: absolute;
 top:0;
 left:0;
 width: 100%;
 height: 100%;
 background-size: cover;
 background-repeat: no-repeat;
}
.img-01{
 background-image: url("page1.jpg");
 animation: slide-animation-01 24s infinite;
}
.img-02{
 background-image: url("page2.jpg");
 animation: slide-animation-02 24s infinite;
}
.img-03{
 background-image: url("page3.jpg");
 animation: slide-animation-03 24s infinite;
}
@keyframes slide-animation-01 {
 0% {opacity: 1; transform: scale(1.0);}
 30% {opacity: 1;}
 40% {opacity: 0; transform: scale(1.15);}
 90% {opacity: 0}
100% {opacity: 1; transform: scale(1.0);}
}
@keyframes slide-animation-02 {
 0% {opacity: 0;}
 30% {opacity: 0; transform: scale(1.1);}
 40% {opacity: 1;}
 60% {opacity: 1;}
 70% {opacity: 0; transform: scale(1.0);}
100% {opacity: 0;}
}
@keyframes slide-animation-03 {
 0% {opacity: 0;}
 60% {opacity: 0; transform: scale(1.0);}
 70% {opacity: 1;}
 90% {opacity: 1;}
100% {opacity: 0; transform: scale(1.1);}
}
}
